In [1]:
import pandas as pd
from datetime import datetime

In [2]:
pd.set_option('display.max_columns', 50)

In [3]:
df_flights = pd.read_csv("T_ONTIME_REPORTING.csv")

In [4]:
df_flights2 = df_flights.copy(deep=True)

In [7]:
df_flights.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
FL_DATE,611132,30,6/21/2024 0:00,21235,NaN,NaN,NaN,NaN,NaN,NaN,NaN
OP_CARRIER_AIRLINE_ID,611132.0,NaN,NaN,NaN,19947.986186,371.470598,19393.0,19790.0,19930.0,20363.0,20452.0
OP_CARRIER_FL_NUM,611132.0,NaN,NaN,NaN,2531.827586,1650.672836,1.0,1165.0,2275.0,3794.0,8819.0
ORIGIN_AIRPORT_ID,611132.0,NaN,NaN,NaN,12635.064299,1534.864432,10135.0,11292.0,12889.0,14027.0,16869.0
ORIGIN_AIRPORT_SEQ_ID,611132.0,NaN,NaN,NaN,1263510.396099,153486.279623,1013506.0,1129202.0,1288904.0,1402702.0,1686902.0
ORIGIN_CITY_MARKET_ID,611132.0,NaN,NaN,NaN,31727.186294,1328.902452,30070.0,30615.0,31453.0,32467.0,35991.0
ORIGIN,611132,340,ATL,29361,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DEST_AIRPORT_ID,611132.0,NaN,NaN,NaN,12635.101899,1534.857077,10135.0,11292.0,12889.0,14027.0,16869.0
DEST_AIRPORT_SEQ_ID,611132.0,NaN,NaN,NaN,1263514.156156,153485.544155,1013506.0,1129202.0,1288904.0,1402702.0,1686902.0
DEST_CITY_MARKET_ID,611132.0,NaN,NaN,NaN,31727.248387,1328.926359,30070.0,30615.0,31453.0,32467.0,35991.0
DEST,611132,340,ATL,29353,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CRS_DEP_TIME,611132.0,NaN,NaN,NaN,1338.170986,503.949015,3.0,905.0,1329.0,1750.0,2359.0
DEP_TIME,611132.0,NaN,NaN,NaN,1324.57826,542.999614,0.0,856.0,1324.0,1759.0,2400.0
DEP_DELAY,603676.0,NaN,NaN,NaN,16.945726,61.601688,-49.0,-5.0,-1.0,15.0,2983.0
DEP_DELAY_NEW,603676.0,NaN,NaN,NaN,19.730652,60.597247,0.0,0.0,0.0,15.0,2983.0
TAXI_OUT,603289.0,NaN,NaN,NaN,17.81309,9.735525,1.0,12.0,15.0,21.0,198.0
WHEELS_OFF,611132.0,NaN,NaN,NaN,1343.365245,548.688255,0.0,910.0,1336.0,1814.0,2400.0
WHEELS_ON,611132.0,NaN,NaN,NaN,1421.14651,585.390479,0.0,1011.0,1443.0,1914.0,2400.0
TAXI_IN,603138.0,NaN,NaN,NaN,8.594882,7.404388,1.0,5.0,7.0,10.0,296.0
CRS_ARR_TIME,611132.0,NaN,NaN,NaN,1481.902587,537.426473,1.0,1050.0,1515.0,1930.0,2359.0
ARR_TIME,611132.0,NaN,NaN,NaN,1422.512053,591.394954,0.0,1014.0,1445.0,1919.0,2400.0
ARR_DELAY,601272.0,NaN,NaN,NaN,11.807215,63.187529,-77.0,-14.0,-4.0,14.0,2972.0
ARR_DELAY_NEW,601272.0,NaN,NaN,NaN,19.385967,60.144475,0.0,0.0,0.0,14.0,2972.0
CANCELLED,611132.0,NaN,NaN,NaN,0.012888,0.11279,0.0,0.0,0.0,0.0,1.0
CANCELLATION_CODE,7876,3,B,3923,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DIVERTED,611132.0,NaN,NaN,NaN,0.003246,0.056885,0.0,0.0,0.0,0.0,1.0
CRS_ELAPSED_TIME,611132.0,NaN,NaN,NaN,146.584314,72.176277,23.0,93.0,130.0,176.0,665.0
ACTUAL_ELAPSED_TIME,601272.0,NaN,NaN,NaN,141.486708,72.544502,16.0,89.0,125.0,172.0,691.0
AIR_TIME,601272.0,NaN,NaN,NaN,115.098789,70.38288,6.0,64.0,98.0,144.0,653.0
FLIGHTS,611132.0,NaN,NaN,NaN,1.0,0.0,1.0,1.0,1.0,1.0,1.0
DISTANCE,611132.0,NaN,NaN,NaN,843.917101,603.182942,31.0,404.0,687.0,1075.0,5095.0
CARRIER_DELAY,149945.0,NaN,NaN,NaN,25.287285,77.336344,0.0,0.0,4.0,22.0,2972.0
WEATHER_DELAY,149945.0,NaN,NaN,NaN,4.441328,33.005392,0.0,0.0,0.0,0.0,1289.0
NAS_DELAY,149945.0,NaN,NaN,NaN,13.09056,33.709895,0.0,0.0,0.0,15.0,1519.0
SECURITY_DELAY,149945.0,NaN,NaN,NaN,0.128607,3.839828,0.0,0.0,0.0,0.0,1164.0
LATE_AIRCRAFT_DELAY,149945.0,NaN,NaN,NaN,30.505445,62.957475,0.0,0.0,7.0,37.0,2690.0
FIRST_DEP_TIME,4968.0,NaN,NaN,NaN,1406.769324,504.202221,1.0,1004.0,1456.0,1814.0,2400.0
TOTAL_ADD_GTIME,4968.0,NaN,NaN,NaN,44.612319,41.204683,1.0,18.0,31.0,55.0,375.0

In [6]:
df_flights.dtypes

FL_DATE                   object
OP_CARRIER_AIRLINE_ID      int64
OP_CARRIER_FL_NUM          int64
ORIGIN_AIRPORT_ID          int64
ORIGIN_AIRPORT_SEQ_ID      int64
ORIGIN_CITY_MARKET_ID      int64
ORIGIN                    object
DEST_AIRPORT_ID            int64
DEST_AIRPORT_SEQ_ID        int64
DEST_CITY_MARKET_ID        int64
DEST                      object
CRS_DEP_TIME               int64
DEP_TIME                   int64
DEP_DELAY                float64
DEP_DELAY_NEW            float64
TAXI_OUT                 float64
WHEELS_OFF                 int64
WHEELS_ON                  int64
TAXI_IN                  float64
CRS_ARR_TIME               int64
ARR_TIME                   int64
ARR_DELAY                float64
ARR_DELAY_NEW            float64
CANCELLED                  int64
CANCELLATION_CODE         object
DIVERTED                   int64
CRS_ELAPSED_TIME           int64
ACTUAL_ELAPSED_TIME      float64
AIR_TIME                 float64
FLIGHTS                    int64
DISTANCE                   int64
CARRIER_DELAY            float64
WEATHER_DELAY            float64
NAS_DELAY                float64
SECURITY_DELAY           float64
LATE_AIRCRAFT_DELAY      float64
FIRST_DEP_TIME           float64
TOTAL_ADD_GTIME          float64
dtype: object

In [8]:
#filling in blank with zero delay minutes so i  can change data type
df_flights['CRS_DEP_TIME'].fillna(0, inplace=True)
df_flights['DEP_TIME'].fillna(0, inplace=True)
df_flights['WHEELS_OFF'].fillna(0, inplace=True)
df_flights['WHEELS_ON'].fillna(0, inplace=True)
df_flights['CRS_ARR_TIME'].fillna(0, inplace=True)
df_flights['ARR_TIME'].fillna(0, inplace=True)

<ipython-input-8-3dfcba9780c8>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_flights['CRS_DEP_TIME'].fillna(0, inplace=True)
<ipython-input-8-3dfcba9780c8>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_flights['DEP_TIME'].fillna(0, inplace=True)
<ipython-input-8-3dfcba9780c8>:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_flights['WHEELS_OFF'].fillna(0, inplace=True)
<ipython-input-8-3dfcba9780c8>:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_flights['WHEELS_ON'].fillna(0, inplace=True)
<ipython-input-8-3dfcba9780c8>:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_flights['CRS_ARR_TIME'].fillna(0, inplace=True)
<ipython-input-8-3dfcba9780c8>:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_flights['ARR_TIME'].fillna(0, inplace=True)

In [9]:
df_flights['CRS_DEP_TIME'] = df_flights['CRS_DEP_TIME'].astype(int)
df_flights['DEP_TIME'] = df_flights['DEP_TIME'].astype(int)
df_flights['WHEELS_OFF'] = df_flights['WHEELS_OFF'].astype(int)
df_flights['WHEELS_ON'] = df_flights['WHEELS_ON'].astype(int)
df_flights['CRS_ARR_TIME'] = df_flights['CRS_ARR_TIME'].astype(int)
df_flights['ARR_TIME'] = df_flights['ARR_TIME'].astype(int)

In [10]:
df_flights['CRS_DEP_TIME'] = df_flights['CRS_DEP_TIME'].astype(str)
df_flights['DEP_TIME'] = df_flights['DEP_TIME'].astype(str)
df_flights['WHEELS_OFF'] = df_flights['WHEELS_OFF'].astype(str)
df_flights['WHEELS_ON'] = df_flights['WHEELS_ON'].astype(str)
df_flights['CRS_ARR_TIME'] = df_flights['CRS_ARR_TIME'].astype(str)
df_flights['ARR_TIME'] = df_flights['ARR_TIME'].astype(str)

In [11]:
df_flights.dtypes

FL_DATE                   object
OP_CARRIER_AIRLINE_ID      int64
OP_CARRIER_FL_NUM          int64
ORIGIN_AIRPORT_ID          int64
ORIGIN_AIRPORT_SEQ_ID      int64
ORIGIN_CITY_MARKET_ID      int64
ORIGIN                    object
DEST_AIRPORT_ID            int64
DEST_AIRPORT_SEQ_ID        int64
DEST_CITY_MARKET_ID        int64
DEST                      object
CRS_DEP_TIME              object
DEP_TIME                  object
DEP_DELAY                float64
DEP_DELAY_NEW            float64
TAXI_OUT                 float64
WHEELS_OFF                object
WHEELS_ON                 object
TAXI_IN                  float64
CRS_ARR_TIME              object
ARR_TIME                  object
ARR_DELAY                float64
ARR_DELAY_NEW            float64
CANCELLED                  int64
CANCELLATION_CODE         object
DIVERTED                   int64
CRS_ELAPSED_TIME           int64
ACTUAL_ELAPSED_TIME      float64
AIR_TIME                 float64
FLIGHTS                    int64
DISTANCE                   int64
CARRIER_DELAY            float64
WEATHER_DELAY            float64
NAS_DELAY                float64
SECURITY_DELAY           float64
LATE_AIRCRAFT_DELAY      float64
FIRST_DEP_TIME           float64
TOTAL_ADD_GTIME          float64
dtype: object

In [12]:
def add_colon (string):
  return string [:-2] + ":" + string[-2:]

In [13]:
df_flights['CRS_DEP_TIME'] = df_flights['CRS_DEP_TIME'].apply(add_colon)

In [14]:
df_flights['DEP_TIME'] = df_flights['DEP_TIME'].apply(add_colon)

In [15]:
df_flights['WHEELS_OFF'] = df_flights['WHEELS_OFF'].apply(add_colon)

In [16]:
df_flights['WHEELS_ON'] = df_flights['WHEELS_ON'].apply(add_colon)

In [17]:
df_flights['CRS_ARR_TIME'] = df_flights['CRS_ARR_TIME'].apply(add_colon)

In [18]:
df_flights['ARR_TIME'] = df_flights['ARR_TIME'].apply(add_colon)

In [24]:
df_flights.head(15)

,OP_CARRIER_AIRLINE_ID,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN_CITY_MARKET_ID,ORIGIN,DEST_AIRPORT_ID,DEST_AIRPORT_SEQ_ID,DEST_CITY_MARKET_ID,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,DEP_DELAY_NEW,TAXI_OUT,WHEELS_OFF,WHEELS_ON,TAXI_IN,CRS_ARR_TIME,ARR_TIME,ARR_DELAY,ARR_DELAY_NEW,CANCELLED,CANCELLATION_CODE,DIVERTED,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,FLIGHTS,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,FIRST_DEP_TIME,TOTAL_ADD_GTIME,day_of_week,TOTAL_DELAY
0,19393,1,11259,1125904,30194,DAL,12191,1219103,31453,HOU,00:00:00,00:00:00,47.0,47.0,9.0,1856,1936,7.0,1910,1943,33.0,33.0,0,NaN,0,70,56.0,40.0,1,239,15.0,0.0,0.0,0.0,18.0,NaN,NaN,Saturday,80.0
1,19393,1,12191,1219103,31453,HOU,11140,1114008,31140,CRP,00:00:00,00:00:00,12.0,12.0,10.0,2022,2057,4.0,2105,2101,-4.0,0.0,0,NaN,0,65,49.0,35.0,1,187,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Saturday,8.0
2,19393,10,12191,1219103,31453,HOU,11259,1125904,30194,DAL,00:00:00,00:00:00,2.0,2.0,8.0,900,943,3.0,1005,946,-19.0,0.0,0,NaN,0,75,54.0,43.0,1,239,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Saturday,-17.0
3,19393,1001,13204,1320402,31454,MCO,12339,1233904,32337,IND,00:00:00,00:00:00,-1.0,0.0,14.0,1423,1612,8.0,1635,1620,-15.0,0.0,0,NaN,0,145,131.0,109.0,1,829,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Saturday,-16.0
4,19393,1002,13204,1320402,31454,MCO,10821,1082106,30852,BWI,00:00:00,00:00:00,-1.0,0.0,18.0,957,1138,5.0,1200,1143,-17.0,0.0,0,NaN,0,140,124.0,101.0,1,787,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Saturday,-18.0
5,19393,1003,13204,1320402,31454,MCO,10821,1082106,30852,BWI,00:00:00,00:00:00,18.0,18.0,18.0,1341,1522,4.0,1515,1526,11.0,11.0,0,NaN,0,130,123.0,101.0,1,787,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Saturday,29.0
6,19393,1004,13204,1320402,31454,MCO,10821,1082106,30852,BWI,00:00:00,00:00:00,-4.0,0.0,10.0,1601,1748,5.0,1815,1753,-22.0,0.0,0,NaN,0,140,122.0,107.0,1,787,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Saturday,-26.0
7,19393,1006,13204,1320402,31454,MCO,10821,1082106,30852,BWI,00:00:00,00:00:00,-2.0,0.0,8.0,1751,1941,8.0,2010,1949,-21.0,0.0,0,NaN,0,145,126.0,110.0,1,787,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Saturday,-23.0
8,19393,1008,13204,1320402,31454,MCO,10821,1082106,30852,BWI,00:00:00,00:00:00,7.0,7.0,7.0,2014,2200,4.0,2225,2204,-21.0,0.0,0,NaN,0,145,117.0,106.0,1,787,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Saturday,-14.0
9,19393,101,14492,1449202,34492,RDU,15016,1501606,31123,STL,00:00:00,00:00:00,-3.0,0.0,12.0,954,1034,6.0,1050,1040,-10.0,0.0,0,NaN,0,125,118.0,100.0,1,667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Saturday,-13.0
10,19393,1015,13232,1323202,30977,MDW,10821,1082106,30852,BWI,00:00:00,00:00:00,-4.0,0.0,20.0,1311,1536,4.0,1545,1540,-5.0,0.0,0,NaN,0,110,109.0,85.0,1,611,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Saturday,-9.0
11,19393,1016,13796,1379610,32457,OAK,12954,1295407,32575,LGB,00:00:00,00:00:00,-4.0,0.0,21.0,732,833,3.0,845,836,-9.0,0.0,0,NaN,0,90,85.0,61.0,1,353,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Saturday,-13.0
12,19393,102,10821,1082106,30852,BWI,10397,1039707,30397,ATL,00:00:00,00:00:00,-1.0,0.0,13.0,752,915,7.0,935,922,-13.0,0.0,0,NaN,0,115,103.0,83.0,1,577,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Saturday,-14.0
13,19393,1029,13296,1329605,30721,MHT,10821,1082106,30852,BWI,00:00:00,00:00:00,-7.0,0.0,11.0,604,709,5.0,730,714,-16.0,0.0,0,NaN,0,90,81.0,65.0,1,377,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Saturday,-23.0
14,19393,103,11259,1125904,30194,DAL,14679,1467903,33570,SAN,00:00:00,00:00:00,0.0,0.0,10.0,910,954,3.0,1005,957,-8.0,0.0,0,NaN,0,185,177.0,164.0,1,1182,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Saturday,-8.0

In [10]:
df_flights['FL_DATE'] = pd.to_datetime(df_flights['FL_DATE'])
df_flights['day_of_week'] = df_flights['FL_DATE'].dt.day_name()

In [11]:
#remove date col
df_flights.drop(columns=['FL_DATE'], inplace = True)

In [19]:
# df_flights['CRS_DEP_TIME'] = pd.to_datetime(df_flights['CRS_DEP_TIME'])
# df_flights['CRS_DEP_TIME'] = df_flights['CRS_DEP_TIME'].dt.strftime("%H:%M:%S")

In [23]:
df_flights['TOTAL_DELAY'] = df_flights['DEP_DELAY'] + df_flights['ARR_DELAY']