In [6]:
# take lookup tables, and flight schedules and combine
# take flight schedule and get unique combos
# combine w/ lookup tables
import pandas as pd

In [24]:
airport_city = pd.read_csv("data/flight_schedule.csv")
city_market = pd.read_csv("data/lookup_tables/L_CITY_MARKET_ID.csv")

In [19]:
list_1 = airport_city[["ORIGIN_CITY_MARKET_ID", "ORIGIN"]]
list_2 = airport_city[["DEST_CITY_MARKET_ID", "DEST"]]
list_1.rename(columns={'ORIGIN_CITY_MARKET_ID': 'CITY_MARKET', 'ORIGIN': 'AIRPORT'}, inplace=True)
list_2.rename(columns={'DEST_CITY_MARKET_ID': 'CITY_MARKET', 'DEST': 'AIRPORT'}, inplace=True)

/var/folders/jq/51d8jm5x4v5crly84p0n52qr0000gn/T/ipykernel_89333/897283318.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  list_1.rename(columns={'ORIGIN_CITY_MARKET_ID': 'CITY_MARKET', 'ORIGIN': 'AIRPORT'}, inplace=True)
/var/folders/jq/51d8jm5x4v5crly84p0n52qr0000gn/T/ipykernel_89333/897283318.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  list_2.rename(columns={'DEST_CITY_MARKET_ID': 'CITY_MARKET', 'DEST': 'AIRPORT'}, inplace=True)

In [21]:
combo = pd.concat([list_1, list_2])
len(combo)

169556

In [22]:
combo.drop_duplicates(inplace = True)
len(combo)

333

In [28]:
airport_cities = combo.merge(city_market, left_on="CITY_MARKET", right_on="Code")
airport_cities.drop('Code', axis= 1, inplace=True)
airport_cities.head()

   CITY_MARKET AIRPORT            Description
0        30194     DAL  Dallas/Fort Worth, TX
1        31453     HOU            Houston, TX
2        31454     MCO            Orlando, FL
3        34492     RDU     Raleigh/Durham, NC
4        30977     MDW            Chicago, IL

In [29]:
airport_cities.to_csv('data/airport_cities.csv', index = False)