In [1]:
# read in data
import pandas as pd
data = pd.read_csv("data/T_ONTIME_REPORTING.csv")

In [ ]:
# get unique instances - figure out which cols to keep
# fldate, airline id, origin airport id, origin city market id, origin, dest air id, dest city market id, dest, crs dep time, crs arr time

In [6]:
schedule = data[['FL_DATE', 'OP_CARRIER_AIRLINE_ID', 'ORIGIN_AIRPORT_ID','ORIGIN_CITY_MARKET_ID','ORIGIN', 'DEST_AIRPORT_ID', 'DEST_CITY_MARKET_ID', 'DEST', 'CRS_DEP_TIME',  'CRS_ARR_TIME']]

In [16]:
schedule['FL_DATE'] = pd.to_datetime(schedule['FL_DATE'])

/var/folders/jq/51d8jm5x4v5crly84p0n52qr0000gn/T/ipykernel_93134/1944277985.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  schedule['FL_DATE'] = pd.to_datetime(schedule['FL_DATE'])
/var/folders/jq/51d8jm5x4v5crly84p0n52qr0000gn/T/ipykernel_93134/1944277985.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  schedule['FL_DATE'] = pd.to_datetime(schedule['FL_DATE'])

,FL_DATE,OP_CARRIER_AIRLINE_ID,ORIGIN_AIRPORT_ID,ORIGIN_CITY_MARKET_ID,ORIGIN,DEST_AIRPORT_ID,DEST_CITY_MARKET_ID,DEST,CRS_DEP_TIME,CRS_ARR_TIME
0,2024-06-01,19393,11259,30194,DAL,12191,31453,HOU,1800,1910
1,2024-06-01,19393,12191,31453,HOU,11140,31140,CRP,2000,2105
2,2024-06-01,19393,12191,31453,HOU,11259,30194,DAL,850,1005
3,2024-06-01,19393,13204,31454,MCO,12339,32337,IND,1410,1635
4,2024-06-01,19393,13204,31454,MCO,10821,30852,BWI,940,1200

In [17]:
schedule['day_of_week'] = schedule['FL_DATE'].dt.day_name()

/var/folders/jq/51d8jm5x4v5crly84p0n52qr0000gn/T/ipykernel_93134/2367045607.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  schedule['day_of_week'] = schedule['FL_DATE'].dt.day_name()

In [23]:
#remove date col
schedule.drop(columns=['FL_DATE'], inplace = True)

/var/folders/jq/51d8jm5x4v5crly84p0n52qr0000gn/T/ipykernel_93134/2535561156.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  schedule.drop(columns=['FL_DATE'], inplace = True)

,OP_CARRIER_AIRLINE_ID,ORIGIN_AIRPORT_ID,ORIGIN_CITY_MARKET_ID,ORIGIN,DEST_AIRPORT_ID,DEST_CITY_MARKET_ID,DEST,CRS_DEP_TIME,CRS_ARR_TIME,day_of_week
0,19393,11259,30194,DAL,12191,31453,HOU,1800,1910,Saturday
1,19393,12191,31453,HOU,11140,31140,CRP,2000,2105,Saturday
2,19393,12191,31453,HOU,11259,30194,DAL,850,1005,Saturday
3,19393,13204,31454,MCO,12339,32337,IND,1410,1635,Saturday
4,19393,13204,31454,MCO,10821,30852,BWI,940,1200,Saturday

In [24]:
# get unique
sched_final = schedule.drop_duplicates(keep=False)