In [1]:
# read in data
import pandas as pd
data = pd.read_csv("data/T_ONTIME_REPORTING.csv")

In [6]:
schedule = data[['FL_DATE', 'OP_CARRIER_AIRLINE_ID', 'ORIGIN_AIRPORT_ID','ORIGIN_CITY_MARKET_ID','ORIGIN', 'DEST_AIRPORT_ID', 'DEST_CITY_MARKET_ID', 'DEST', 'CRS_DEP_TIME', 'CRS_ARR_TIME']]
schedule['FL_DATE'] = pd.to_datetime(schedule['FL_DATE'])
schedule['day_of_week'] = schedule['FL_DATE'].dt.day_name()
#remove date col
schedule.drop(columns=['FL_DATE'], inplace = True)

In [24]:
# get unique
sched_final = schedule.drop_duplicates(keep=False)

In [25]:
sched_final.head(10)

,OP_CARRIER_AIRLINE_ID,ORIGIN_AIRPORT_ID,ORIGIN_CITY_MARKET_ID,ORIGIN,DEST_AIRPORT_ID,DEST_CITY_MARKET_ID,DEST,CRS_DEP_TIME,CRS_ARR_TIME,day_of_week
0,19393,11259,30194,DAL,12191,31453,HOU,1800,1910,Saturday
1,19393,12191,31453,HOU,11140,31140,CRP,2000,2105,Saturday
2,19393,12191,31453,HOU,11259,30194,DAL,850,1005,Saturday
3,19393,13204,31454,MCO,12339,32337,IND,1410,1635,Saturday
4,19393,13204,31454,MCO,10821,30852,BWI,940,1200,Saturday
5,19393,13204,31454,MCO,10821,30852,BWI,1305,1515,Saturday
6,19393,13204,31454,MCO,10821,30852,BWI,1555,1815,Saturday
7,19393,13204,31454,MCO,10821,30852,BWI,1745,2010,Saturday
8,19393,13204,31454,MCO,10821,30852,BWI,2000,2225,Saturday
9,19393,14492,34492,RDU,15016,31123,STL,945,1050,Saturday